<div class="mb-2 flex">
  <%= link_to project.title, project, class: "text-lg mr-6 self-center" %>
  <div class="text-sm rounded-full bg-gray-100 self-center"><%= project.state.humanize %></div>
  <%= link_to "Edit", edit_project_path(project), class: "btn bg-blue-600 text-white ml-3 self-center" %>
</div>
